@use "navbar.scss";
@use "place-card.scss";
@use "search.scss";
@use "trip.scss";
@use "map.scss";

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    box-sizing: border-box;
    overflow-y: hidden;
}

.search__card,
.trip__cards,
.place-card__scroll {
    &::-webkit-scrollbar-track {
        background-color: #d1d1d1;
    }

    &::-webkit-scrollbar {
        width: 5px;
        background-color: #f5f5f5;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #0096ff;
        border-radius: 100px;
    }
}

.dark .search__card,
.dark .trip__cards,
.dark .place-card__scroll {
    &::-webkit-scrollbar-track {
        background-color: #2b2b2b;
    }

    &::-webkit-scrollbar {
        width: 5px;
        background-color: #1a1a1a;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #0095ff;
        border-radius: 100px;
    }
}
