@use "navbar.scss";
@use "place-card.scss";
@use "search.scss";
@use "trip.scss";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .btn-global {
        @apply flex justify-center items-center gap-2 me-2 mb-2 px-5 py-2.5 text-white text-sm md:text-base lg:text-lg font-medium bg-bright-blue hover:bg-blue-700 focus:ring-2 focus:ring-blue-300 focus:outline-none rounded-lg transition;
    }
}

body {
    box-sizing: border-box;
    overflow-y: hidden;
}

.card-search,
.cards-place,
.place-card-scroll {
    &::-webkit-scrollbar-track {
        background-color: #d1d1d1;
    }

    &::-webkit-scrollbar {
        width: 5px;
        background-color: #f5f5f5;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #0096ff;
        border-radius: 100px;
    }
}

.dark .card-search,
.dark .cards-place,
.dark .place-card-scroll {
    &::-webkit-scrollbar-track {
        background-color: #2b2b2b;
    }

    &::-webkit-scrollbar {
        width: 5px;
        background-color: #1a1a1a;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #0095ff;
        border-radius: 100px;
    }
}
