.leaflet-routing-alt {
    h2 {
        font-size: 18px;
        font-weight: 800;
    }

    h3 {
        font-size: 16px;
        font-weight: 600;
    }
}

.leaflet-control-layers-list {
    font-weight: 600;
    font-size: 14px;
}

.leaflet-routing-collapse-btn {
    top: -8px;
    right: 20px;
    color: #ff0000;
    font-size: 40px;
}

.leaflet-container {
    height: 100%;
}

.leaflet-control-zoom {
    border: none !important;

    a {
        border: none !important;
        transition-property: color, background-color, border-color,
            text-decoration-color, fill, stroke;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-duration: 150ms;

        &:first-child {
            border-top-left-radius: 10px !important;
            border-top-right-radius: 10px !important;
        }

        &:last-child {
            border-bottom-left-radius: 10px !important;
            border-bottom-right-radius: 10px !important;
        }
    }
}

.dark .leaflet-control-zoom a {
    color: #fff;
    background-color: #09090b;

    &:hover {
        background-color: #27272a;
    }
}

.leaflet-control-layers {
    border: none !important;
    border-radius: 10px;
    cursor: pointer;

    a {
        border-radius: 10px;
        transition-property: color, background-color, border-color,
            text-decoration-color, fill, stroke;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-duration: 150ms;
    }

    section label {
        cursor: pointer;
    }
}

.dark .leaflet-control-layers,
.dark .leaflet-control-layers-expanded {
    color: #fff;
    background-color: #09090b;
    cursor: pointer;

    a {
        background-color: #09090b;
    }
}

.dark .dark-leaflet-layer {
    filter: invert(100%) hue-rotate(180deg) brightness(95%) contrast(90%);
}

.leaflet-attribution-flag {
    display: inline;
}
