.leaflet-container {
    width: 100vw;
    height: calc(100vh - 60px);
}

@media only screen and (max-width: 639px) {
    .leaflet-container {
        height: 100vh;
    }
}

@media only screen and (max-width: 767px) and (min-width: 640px) {
    .leaflet-container {
        height: calc(100vh - 40px);
    }
}

@media only screen and (max-width: 1023px) and (min-width: 768px) {
    .leaflet-container {
        height: calc(100vh - 50px);
    }
}

.leaflet-routing-alt  {
    h2 {
        font-size: 18px;
        font-weight: 800;
    }

    h3 {
        font-size: 16px;
        font-weight: 600;
    }
}

.leaflet-control-layers-list {
    font-weight: 600;
    font-size: 14px;
}

@media only screen and (max-width: 639px) {
    .leaflet-control-layers {
        top: 30px;
    }
}

.leaflet-routing-collapse-btn {
    top: -8px;
    right: 20px;
    color: #ff0000;
    font-size: 40px;
}